<link rel="stylesheet" href="/css/stylesSignUp.css">

<div class="container">
    <div class="form-container">
        <img src="/images/hangrylogo.webp" alt="GitHub Cat" class="logo">
        <h2>Sign Up</h2>
        <p> Selamat Datang</p>
        <form action="/signup" method="POST">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <p>Sudah Punya Akun?</p>
            <a href="/login" class="forgot-password">Sing In</a>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>